<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head><h1 align="center">Навигационная страница</h1>
<body>
    <h2 align="center"><u>Домашнее задание по теме "Базовые HTML тэги в шаблонах"</u></h2>
    <h3 align="center">Цель: применить изученные теги HTML, написав многостраничный проект.
    <br>Задача "Первичная структура":
    <br>Студент Крылов Эдуард Васильевич
    <br>Дата: 07.12.2024г.
    <br>Исправлено: 12.12.2024г.</h3>
    <ol>
        <h2><li><a href="http://127.0.0.1:8000/func/">"Это шаблон для функционального представления"</a></li></h2>
        <h2><li><a href="http://127.0.0.1:8000/class/">"Это шаблон для классового представления" </a></li></h2>
        <h2><li><a href="http://127.0.0.1:8000/platform/">"Магазин"</a></li></h2>
    </ol>
</body>
</html>